# Node modules
node_modules/
uploads/

# Local environment variables and secrets
.env
atlas_uri.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# macOS system files
.DS_Store

# IDE/editor settings
.vscode/
.idea/
*.swp