{{> header }}

<div class="container-fluid d-flex justify-content-center mt-5" style="min-height: 40vh;">
  <div class="col-md-6 col-lg-4">
    <h2 class="mb-4 text-center">Admin Login</h2>

    {{#error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/error}}

    <form method="POST" action="/auth/login" class="border p-4 shadow rounded bg-white">
      <div class="form-group mb-3">
        <label for="username">Username</label>
        <input id="username" name="username" class="form-control" required>
      </div>

      <div class="form-group mb-4">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control" required>
      </div>

      <button class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>